@charset="utf-8";

* {margin:0; padding:0; webkit-box-sizing:border-box;}

body > div {
	background-image:url(../img/invite_jp.png); 
	background-position:center center; 
	background-repeat:no-repeat; 
	width:1650px;
	height:1650px;
}
